@import "special-mixins";


body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.115), rgba(0, 0, 0, 0.115)), url("images/background.png");
}



.nodisplay {
  display: none;
}

/* Portrait phones and smaller */
@media screen and (max-width: 768px) {
  .mobilehide {
    display: none;
  }
}

button, .tabletankscore, .tablebasicscore {
  font-weight: bold !important;
}

.topmenu {
  margin-bottom: 10%;
}

.center {
  text-align: center;
}

.diep-shadow {
  text-shadow: 2px 2px 2px black,
  2px -2px 2px black,
  -2px 2px 2px black,
  -2px -2px 2px black;
}

.diep-border {
  border: 4px solid black !important;
}

.dropdown-toggle {
  border: 1px solid rgba(0, 0, 0, 0.14902) !important;
  background: transparent !important;
  text-shadow: none !important;
  color: black !important;
  font-weight: normal !important;

}

/* make the images on the record submit select a bit more to the right */
.dropdown-menu li {
  padding: 0px 15px 1px !important;
}

.btn-diep, .dynatable-search, .btn {
  @extend .diep-shadow;
  @extend .diep-border;
  color:white !important;
  &.dropdown-toggle{
    color: black !important;
  }
  font-weight: bold;
}

.dynatable-search {
  background: linear-gradient(#fb8eff 50%, #ca72cd 50%); /* Standard syntax */
}

.dynatable-sort-header {
  color: white;
  @extend .diep-shadow;
}

.diep-title {
  color: white;
  font-size: 3em;
  @extend .diep-shadow;
}

.diep-title-small {
  @extend .diep-title;
  font-size: 2em;
}

.table td, .table th, .table-bordered td, .table-bordered th, .table thead th {
  border: 3px solid black !important;
}

.thFFA, .diep-gradient-blue, .btn, .dynatable-active-page, .tankplace, .submitterplace {
  @include gradient-vertical(#71ccc8, #5ba4a1, 50%, 50%);
}

.diep-gradient-yellow {
  @include gradient-vertical(#ffeb8e, #cdbd72, 50%, 50%);
}

.th2-TDM, .diep-gradient-green, .max-score-records {
  @include gradient-vertical(#b4ff8e, #91cd72, 50%, 50%);
}

.th4-TDM, .diep-gradient-red, .btn-danger {
  @include gradient-vertical(#ff8e8e, #cd7272, 50%, 50%);
}

.thMaze, .diep-gradient-grey, .tankscore, .numberofrecords {
  @include gradient-vertical(#adadad, #8b8b8b, 50%, 50%);
}

.scoretanksimage {
  margin-right: 5px;
}

.totalwinnerscore {
  color: darkgoldenrod !important;
}

.gamemodewinner {
  &:not(.totalwinnerscore) {
    color: goldenrod !important;
  }
  text-decoration: underline;
}

button {
  &.working {
    @include animation('working-bg 1s');
    @include animation-property('iteration-count', 'infinite');
  }
}

@include keyframes('working-bg') {
  from {
    @include gradient-vertical(#71ccc8, #5ba4a1, 50%, 50%);
  }
  to {
    @include gradient-vertical(#ff8e8e, #cd7272, 50%, 50%);
  }
}

#statisticstabnav {

  .nav-tabs, .nav-link.active {
    border: 0px;
    background-color: transparent !important;
  }

  a {
    color: white;
    @extend .diep-shadow;
    font-weight: bold;
  }

  margin: 1.5em;
  .nav-item {
    @extend .diep-border;
    @extend .diep-gradient-blue;

    .active {
      @extend .diep-gradient-red;
    }

  }
}