@import "special-mixins";

body {
  background-image: url("images/background.png");
}

.nodisplay{
  display: none;
}

/* Portrait phones and smaller */
@media all and (max-width: 480px) {
  @extend .nodisplay
}

button,.tabletankscore{
  font-weight: bold !important;
}

.topmenu{
  margin-bottom: 10%;
}

.center{
  text-align: center;
}

.dynatable-sort-header {
  color:black;
}

.diep-shadow{
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.diep-border{
  border:4px solid black!important;
}

.btn-diep,.dynatable-search,.btn{
  @extend .diep-shadow;
  @extend .diep-border;
  color:white;
}
.dynatable-search{
  background: linear-gradient(#fb8eff 50%, #ca72cd 50%); /* Standard syntax */
}

.dynatable-sort-header{
  color:white;
  @extend .diep-shadow;
}
.diep-title{
  color:whitesmoke;
  font-size: 3em;
  @extend .diep-shadow;
}

.table td, .table th,.table-bordered td, .table-bordered th, .table thead th {
  border: 3px solid black !important;
}


.thFFA,.diep-gradient-blue,.btn,.dynatable-active-page {
  @include gradient-vertical(#71ccc8,#5ba4a1,50%,50%);
}


.diep-gradient-yellow{
  @include gradient-vertical(#ffeb8e,#cdbd72,50%,50%);
}


.th2-TDM {
  @include gradient-vertical(#b4ff8e , #91cd72,50%,50%);
}

.th4-TDM,.diep-gradient-red,.btn-danger {
  @include gradient-vertical(#ff8e8e ,#cd7272,50%,50%);
}

.thMaze{
  @include gradient-vertical(#adadad ,#8b8b8b,50%,50%);
}

.scoretanksimage{
  margin-right: 5px;
}
#dynatable-search-scoretable{

}